.basic-station {
    background-image: linear-gradient(-180deg, #424f68 0%, #212e3c 95%);
    border: #0d0d0d solid 3px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    box-shadow: 1px 4px 6px rgb(26, 25, 25);
    border-radius: 30px;
}
.basic-station:hover {
    background-image: linear-gradient(-180deg, #242e41 0%, #111b25 75%);
}
.station-sm{
    height: 55%;
    width: 27%;
    padding: 1%;
}
.station-mid{
    height: 55%;
    width: 40%;
    padding: 1%;
}
.station-bg{
    height: 60%;
    width: 20%;
    padding: 1%;
}
.station-bg-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}